/* блоки на главной */
.mcnt {
  padding-top: 62px;
  padding-bottom: 65px;
}
@media (max-width: 1199px) {
  .mcnt {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 991px) {
  .mcnt {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .mcnt {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.mcnt__block__title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: #111111;
  font-family: "Ubuntu";
}
.mcnt__block + .mcnt__block {
  margin-top: 62px;
}
@media (max-width: 1199px) {
  .mcnt__block + .mcnt__block {
    margin-top: 60px;
  }
}
@media (max-width: 991px) {
  .mcnt__block + .mcnt__block {
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  .mcnt__block + .mcnt__block {
    margin-top: 40px;
  }
}
/* каталог на главной */
.mcatalog__row {
  margin-top: 33px;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (max-width: 1199px) {
  .mcatalog__row {
    margin-top: 30px;
  }
}
@media (max-width: 991px) {
  .mcatalog__row {
    margin-top: 25px;
  }
}
@media (max-width: 767px) {
  .mcatalog__row {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
}
.mcatalog__col {
  padding-left: 15px;
  padding-right: 15px;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (max-width: 767px) {
  .mcatalog__col {
    display: block;
    width: auto;
    padding-left: 0;
    padding-right: 0;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  .mcatalog__col + .mcatalog__col {
    margin-top: 20px;
  }
}
.mcatalog__it {
  display: block;
  text-decoration: none !important;
  min-height: 250px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.mcatalog__it:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.55;
  transition: background 0.5s ease, opacity 0.5s ease;
  z-index: 4;
}
.mcatalog__it:hover:before {
  background: #cd1e32;
  opacity: 0.85;
}
@media (max-width: 767px) {
  .mcatalog__it {
    min-height: 180px;
  }
}
.mcatalog__it img {
  z-index: 1;
}
.mcatalog__it__cnt {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 64px;
  padding-right: 60px;
  position: relative;
  z-index: 5;
}
@media (max-width: 1199px) {
  .mcatalog__it__cnt {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 991px) {
  .mcatalog__it__cnt {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 767px) {
  .mcatalog__it__cnt {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.mcatalog__it__title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}
.mcatalog__it__txt {
  font-size: 15px;
  line-height: 22px;
  font-weight: 300;
  color: #fff;
  margin-top: 9px;
}
/* новости на главной */
.mnews__row {
  margin-top: 33px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin-left: -15px;
  margin-right: -15px;
}
.mnews__row::before, .mnews__row::after {
  display: none;
}
@media (max-width: 1199px) {
  .mnews__row {
    margin-top: 30px;
  }
}
@media (max-width: 991px) {
  .mnews__row {
    margin-top: 25px;
  }
}
@media (max-width: 767px) {
  .mnews__row {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
}
.mnews__col {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 33.333%;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 991px) {
  .mnews__col {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .mnews__col {
    width: auto;
    padding-left: 0;
    padding-right: 0;
    display: block;
  }
  .mnews__col + .mnews__col {
    margin-top: 20px;
  }
}
.mnews__it {
  background: #fff;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-bottom: 4px solid #d3d4d7;
}
@media (max-width: 767px) {
  .mnews__it {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
}
.mnews__it__img {
  display: block;
  height: 290px;
  margin-left: -20px;
  margin-right: -20px;
}
@media (max-width: 1199px) {
  .mnews__it__img {
    height: 250px;
  }
}
.mnews__it__date {
  margin-top: 25px;
  font-size: 13px;
  color: #b2b2b3;
}
@media (max-width: 767px) {
  .mnews__it__date {
    margin-top: 15px;
  }
}
.mnews__it__title {
  margin-top: 5px;
}
.mnews__it__title a {
  text-decoration: none !important;
  font-size: 15px;
  font-weight: 700;
  transition: color 0.5s ease;
  color: #cd1e32 !important;
  line-height: 23px;
}
.mnews__it__title a:hover {
  color: #ab0010 !important;
}
.mnews__it__txt {
  margin-top: 7px;
  font-size: 15px;
  line-height: 22px;
  color: #111;
  font-weight: 300;
}
/* о компании на главной */
.mabout__cnt {
  background: #fff;
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 415px;
  margin-top: 33px;
}
@media (max-width: 1199px) {
  .mabout__cnt {
    margin-top: 30px;
  }
}
@media (max-width: 991px) {
  .mabout__cnt {
    margin-top: 25px;
    display: block;
  }
}
.mabout__cnt__img {
  width: 50%;
}
@media (max-width: 991px) {
  .mabout__cnt__img {
    width: auto;
    height: 200px;
  }
}
.mabout__cnt__txt {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 15px;
  line-height: 22px;
  color: #111111;
  font-weight: 300;
  padding: 30px;
}
@media (max-width: 991px) {
  .mabout__cnt__txt {
    width: auto;
    padding: 25px;
  }
}
@media (max-width: 767px) {
  .mabout__cnt__txt {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.mabout__cnt__txt p + p {
  margin-top: 15px;
}
@media (max-width: 767px) {
  .mabout__cnt__txt p + p {
    margin-top: 10px;
  }
}
.mabout__cnt__txt__inn {
  width: 100%;
}
/* сертификаты на главной */
.mserts__cnt {
  margin-top: 33px;
}
@media (max-width: 1199px) {
  .mserts__cnt {
    margin-top: 30px;
  }
}
@media (max-width: 991px) {
  .mserts__cnt {
    margin-top: 25px;
  }
}
.mserts__slider-wrap {
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}
.mserts__arr {
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  margin-top: -30px;
  z-index: 2;
  color: #cd1e32 !important;
  transition: color 0.5s ease;
  background: #f1f1f1;
  border-radius: 50%;
}
.mserts__arr:before {
  display: block;
  content: '';
  position: absolute;
  top: 24px;
  left: 32px;
  width: 12px;
  height: 12px;
  border-top: 3px solid currentColor;
  border-left: 3px solid currentColor;
  transform: rotate(-45deg);
}
.mserts__arr:hover {
  color: #ab0010 !important;
}
.mserts__arr.__prev {
  left: -15px;
}
@media (max-width: 1199px) {
}
@media (max-width: 767px) {
}
.mserts__arr.__next {
  right: -15px;
  transform: rotate(180deg);
}
@media (max-width: 1199px) {
}
@media (max-width: 767px) {
}
.mserts__arr .arrleft-icon,
.mserts__arr .arrright-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.5em;
  margin-left: -0.5em;
  font-size: 50px;
}
@media (max-width: 767px) {
  .mserts__arr .arrleft-icon,
  .mserts__arr .arrright-icon {
    font-size: 40px;
  }
}
.mserts__slide {
  padding-left: 15px;
  padding-right: 15px;
  width: 33.333%;
  position: relative;
  z-index: 1;
}
.mserts__it {
  padding-top: 35px;
  padding-bottom: 25px;
  padding-left: 35px;
  padding-right: 35px;
  background: #fff;
}
@media (max-width: 1199px) {
  .mserts__it {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.mserts__it__img {
  width: 220px;
  height: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.12);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
@media (max-width: 767px) {
  .mserts__it__img {
    width: 180px;
    height: 250px;
  }
}
.mserts__it__img:hover:before {
  opacity: 0.85;
}
.mserts__it__img:hover .search-icon {
  opacity: 1;
}
.mserts__it__img:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #cd1e32;
  opacity: 0;
  z-index: 2;
  transition: opacity 0.5s ease;
}
.mserts__it__img .search-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.5s ease;
  margin-top: -0.5em;
  margin-left: -0.5em;
  font-size: 40px;
  color: #fff;
  z-index: 3;
}
.mserts__it__img img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.mserts__it__name {
  margin-top: 21px;
}
.mserts__it__name a {
  color: #cd1e32 !important;
  transition: color 0.5s ease;
  font-size: 15px;
  line-height: 23px;
  text-decoration: none !important;
  font-weight: 700;
}
@media (max-width: 767px) {
  .mserts__it__name a {
    font-size: 20px;
    line-height: 28px;
  }
}
.mserts__it__name a:hover {
  color: #ab0010 !important;
}
.mserts__it__txt {
  font-size: 15px;
  color: #111111;
  line-height: 22px;
  margin-top: 7px;
}
@media (max-width: 767px) {
  .mserts__it__txt {
    font-size: 14px;
    margin-top: 5px;
  }
}
/*# sourceMappingURL=main.css.map */