.related__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 300;
  color: #111;
}
@media (max-width: 767px) {
  .related__title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
  }
}
.related__content {
  padding-top: 40px;
  padding-bottom: 70px;
  background: #fff;
}
@media (max-width: 991px) {
  .related__content {
    padding-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .related__content {
    padding-bottom: 40px;
  }
}
.related__content__body {
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  margin-top: 30px;
}
@media (max-width: 991px) {
  .related__content__body {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .related__content__body {
    margin-bottom: -20px;
  }
}
.related__content + section {
  background: #f4f4f4;
}
.related__content + section + section {
  background: #fff;
}
.related__content__slider {
  margin-top: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.related__content__slider .slider__arrow {
  display: block;
  position: absolute;
  top: 50%;
  height: 17px;
  margin-top: -8px;
  z-index: 2;
  width: 50px;
  color: #07b0c8 !important;
  transition: color 0.5s ease;
}
.related__content__slider .slider__arrow:hover {
  color: #008ea6 !important;
}
.related__content__slider .slider__arrow.__prev {
  left: -15px;
}
@media (max-width: 1199px) {
  .related__content__slider .slider__arrow.__prev {
    left: 0;
  }
}
@media (max-width: 767px) {
  .related__content__slider .slider__arrow.__prev {
    left: 5px;
  }
}
.related__content__slider .slider__arrow.__next {
  right: -15px;
}
@media (max-width: 1199px) {
  .related__content__slider .slider__arrow.__next {
    right: 0;
  }
}
@media (max-width: 767px) {
  .related__content__slider .slider__arrow.__next {
    right: 5px;
  }
}
.related__content__slider .slider__arrow .arrleft-icon,
.related__content__slider .slider__arrow .arrright-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.5em;
  margin-left: -0.5em;
  font-size: 50px;
}
@media (max-width: 767px) {
  .related__content__slider .slider__arrow .arrleft-icon,
  .related__content__slider .slider__arrow .arrright-icon {
    font-size: 40px;
  }
}
.related__content__slider .slider__wrapper {
  max-width: 100%;
}
.related__content__slider .slider__wrapper .slider__slide {
  padding-left: 15px;
  padding-right: 15px;
  width: 33.333%;
  position: relative;
  z-index: 1;
}
.related__content__slider .slider__wrapper .slider__slide__body {
  border: 5px solid #f4f4f4;
  padding-top: 30px;
  padding-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 1199px) {
  .related__content__slider .slider__wrapper .slider__slide__body {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.related__content__slider .slider__wrapper .slider__slide__img {
  width: 220px;
  height: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.12);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
@media (max-width: 767px) {
  .related__content__slider .slider__wrapper .slider__slide__img {
    width: 180px;
    height: 250px;
  }
}
.related__content__slider .slider__wrapper .slider__slide__img:hover:before {
  opacity: 0.85;
}
.related__content__slider .slider__wrapper .slider__slide__img:hover .search-icon {
  opacity: 1;
}
.related__content__slider .slider__wrapper .slider__slide__img:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #07b0c8;
  opacity: 0;
  z-index: 2;
  transition: opacity 0.5s ease;
}
.related__content__slider .slider__wrapper .slider__slide__img .search-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.5s ease;
  margin-top: -0.5em;
  margin-left: -0.5em;
  font-size: 40px;
  color: #fff;
  z-index: 3;
}
.related__content__slider .slider__wrapper .slider__slide__img img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.related__content__slider .slider__wrapper .slider__slide__name {
  margin-top: 18px;
  max-height: 60px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .related__content__slider .slider__wrapper .slider__slide__name {
    max-height: 56px;
  }
}
.related__content__slider .slider__wrapper .slider__slide__name a {
  color: #07b0c8 !important;
  transition: color 0.5s ease;
  font-size: 22px;
  line-height: 30px;
  text-decoration: none !important;
  font-weight: 300;
}
@media (max-width: 767px) {
  .related__content__slider .slider__wrapper .slider__slide__name a {
    font-size: 20px;
    line-height: 28px;
  }
}
.related__content__slider .slider__wrapper .slider__slide__name a:hover {
  color: #008ea6 !important;
}
.related__content__slider .slider__wrapper .slider__slide__txt {
  font-size: 15px;
  color: #111111;
  line-height: 22px;
  margin-top: 7px;
  max-height: 44px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .related__content__slider .slider__wrapper .slider__slide__txt {
    font-size: 14px;
    margin-top: 5px;
  }
}
.related__content {
  /**
    InfoCard
     */
}
.related__content__static {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (max-width: 767px) {
  .related__content__static {
    flex-wrap: wrap;
  }
}
.related__content__item {
  width: 33.333%;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (max-width: 991px) {
  .related__content__item {
    width: 50%;
  }
  .related__content__item:nth-child(3) {
    display: none;
  }
}
@media (max-width: 767px) {
  .related__content__item {
    width: 100%;
    margin-bottom: 20px;
  }
}
.related__content .static__infocard {
  width: 100%;
  position: relative;
  background: #0f1f3d;
}
.related__content .static__infocard:before {
  display: block;
  content: '';
  position: absolute;
  z-index: 2;
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  border: 2px solid #fff;
  opacity: 0.15;
  pointer-events: none;
}
@media (max-width: 1199px) {
  .related__content .static__infocard:before {
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
  }
}
.related__content .static__infocard__image {
  position: relative;
  z-index: 1;
  display: block;
}
.related__content .static__infocard__image img {
    display: block;
    margin: 0 auto;
}

.related__content .static__infocard__title a {
  color: #07b0c8 !important;
  transition: color 0.5s ease;
  font-size: 22px;
  line-height: 30px;
  font-weight: 300;
}
.related__content .static__infocard__title a:hover {
  color: #fff !important;
}
.related__content .static__infocard__body {
  padding-top: 18px;
  padding-bottom: 42px;
  padding-left: 35px;
  padding-right: 35px;
  position: relative;
  z-index: 1;
}
@media (max-width: 1199px) {
  .related__content .static__infocard__body {
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
.related__content .static__infocard__text {
  font-size: 15px;
  line-height: 22px;
  color: #fff;
  margin-top: 7px;
  font-weight: 300;
}
.related__content.product__list {
  padding-top: 56px;
  padding-bottom: 70px;
}
@media (max-width: 1199px) {
  .related__content.product__list {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 991px) {
  .related__content.product__list {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .related__content.product__list {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.related__content.product__list .related__title {
  text-align: center;
}
.related__content__body {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 44px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
@media (max-width: 1199px) {
  .related__content__body {
    margin-top: 40px;
  }
}
@media (max-width: 991px) {
  .related__content__body {
    margin-top: 35px;
  }
}
@media (max-width: 767px) {
  .related__content__body {
    margin-top: 30px;
    flex-wrap: wrap;
  }
}
.related__content__product {
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 1199px) {
  .related__content__product {
    width: 33.333%;
  }
  .related__content__product:nth-child(4) {
    display: none;
  }
}
@media (max-width: 991px) {
  .related__content__product {
    width: 50%;
  }
  .related__content__product:nth-child(3) {
    display: none;
  }
}
@media (max-width: 529px) {
  .related__content__product {
    width: 100%;
  }
  .related__content__product + .product-sims__cnt__it {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=related.css.map */